<!Doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fun New Wine</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src="angular-1.3.15.min.js"></script>
	<script src="jquery-2.1.3.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAA_YWMaF4ZxRzCSaQUcRmdRxTd8Ha8_oCv-7Sib4zQXVdy3eGdMxQdLMhmPchY_fZO1KJIrc9pJkiXdA" type="text/javascript"></script>

	<script type="text/javascript" src="appforfront.js"></script>
</head>
<body ng-app="NCCUeat" ng-controller="gameController" ng-init="init()">

	<!-- gamepage -->
	<nav class="top_nav">
		<div class="logo" ng-click="getRidShow()">
			<img src="img/logo.png">
		</div>
		<div class="search">
			<input type="input" placeholder="搜尋紅酒或餐點" ng-focus="searchFocus()" ng-model="searchStuff">
		</div>
		<div class="photo">
			<img src="img/ic2-01.png">
		</div>

	</nav>
	<nav class="down_nav">
		<ul class="down_nav_ul">
			<li class="down_nav_li"><a href="#"><img class="page4icon" src="img/icon4.png" ng-click="changePage(4,$event)"></a></li>
			<li class="down_nav_li"><a href="#"><img class="page1icon activeNavIcon" src="img/icon1-a.png" ng-click="changePage(1,$event)"></a></li>
			<li class="down_nav_li"><a href="#"><img class="page2icon" src="img/icon2.png" ng-click="changePage(2,$event)"></a></li>
		</ul>
	</nav>
	<!-- searchdiv -->
	<div class="searchdiv" ng-show="ngshow.searchDivShow">
		<div class="closeButton">
			<button ng-click="searchDivHide()">X</button>
		</div>
		<div class="searchHeadline">
			<h3>搜尋結果</h3>
			<h5 ng-repeat="item in allList | filter:searchStuff" style="height: 40px;
						  line-height: 40px;
						  color: rgb(60, 60, 60);
						  padding-left: 40px;
						  font-size: 20px;
						  border-bottom: 2px solid rgba(0,0,0,0.5);" ng-click="searchResultClick()">{{item}}</h5>
		</div>
	</div>


	<!-- page -->
	<div class="page1 page showpage">
		<!-- first page -->
		<a href="#">
			<div class="wineIntro wineIntro1"style="background:url('img/wine/wine1.jpg');background-size: cover;" ng-click="showWineInfo($event, wineid)">
				<p>加拿大浣熊紅酒</p>
				<img src="img/right.png">
			</div>
		</a>
		<a href="#">
			<div class="wineIntro wineIntro2"style="background:url('img/wine/wine2.jpg');background-size: cover;" ng-click="showWineInfo($event, wineid)">
				<p>加拿大浣熊紅酒</p>
				<img src="img/right.png">
			</div>
		</a>
		<a href="#">
			<div class="wineIntro wineIntro2"style="background:url('img/wine/wine3.jpg');background-size: cover;" ng-click="showWineInfo($event, wineid)">
				<p>加拿大浣熊紅酒</p>
				<img src="img/right.png">
			</div>
		</a>
		<a href="#">
			<div class="wineIntro wineIntro1"style="background:url('img/wine/wine4.jpg');background-size: cover;" ng-click="showWineInfo($event, wineid)">
				<p>加拿大浣熊紅酒</p>
				<img src="img/right.png">
			</div>
		</a>
	</div>
	<div class="page page2">
		<div class="page2_block1">
			<img src="img/food/{{currfood.id}}.jpg" class="foodChooseImage" style="max-width:180px">
		</div>
		<div class="page2_block2">
			<h1>你喜歡{{currfood.name}}嗎？</h1>
		</div>
		<div class="page2_block3">
			<div class="chooseBtn" ng-click="changeChooseFood()"><img src="img/no.png"></div>
			<div class="chooseBtn"><img src="img/yes.png" ng-click="changeChooseFood(true)"></div>
			<div style="display:block; text-align:center">
				<button style="  width: 80%;height: 60px;border: 0;color: white;background-color: rgb(159, 34, 35);" ng-click="changePage(4,$event)">查看推薦酒品</button>
			</div>
		</div>
	</div>
	<div class="page page3">
		<h1 style="color:white">我是LBS功能頁</h1>
	</div>
	<div class="page page4">
		<div class="userInfo">
			<img src="img/people/1.jpg" class="profile" style="border-radius: 100px;">
			<h1>孫芸婷</h1>
			<button class="active seg_wine_btn" ng-click="changeProProduct('s')">推薦你的紅酒</button>
			<button class="history_wine_btn" ng-click="changeProProduct('h')">你評價過的紅酒</button>
		</div>
		<div class="userSuggestion" ng-show="userSuggestion" style="  border-top: 5px solid rgb(159, 34, 35);">
			<a href="#">
				<div class="wineIntro wineIntro1"style="background:url('img/wine/wine1.jpg');background-size: cover;" ng-click="showWineInfo($event, wineid)">
					<p>加拿大浣熊紅酒{{wineid}}</p>
				</div>
			</a>
			<a href="#">
				<div class="wineIntro wineIntro2"style="background:url('img/wine/wine2.jpg');background-size: cover;" ng-click="showWineInfo($event, wineid)">
					<p>加拿大浣熊紅酒</p>
				</div>
			</a>
			<a href="#">
				<div class="wineIntro wineIntro2"style="background:url('img/wine/wine3.jpg');background-size: cover;" ng-click="showWineInfo($event, wineid)">
					<p>加拿大浣熊紅酒</p>
				</div>
			</a>
			<a href="#">
				<div class="wineIntro wineIntro1"style="background:url('img/wine/wine4.jpg');background-size: cover;" ng-click="showWineInfo($event, wineid)">
					<p>加拿大浣熊紅酒</p>
				</div>
			</a>
		</div>
		<div class="userHistory" ng-show="!userSuggestion" style="  border-top: 5px solid rgb(159, 34, 35);">
			<a href="#">
				<div class="wineIntro wineIntro2"style="background:url('img/wine/wine2.jpg');background-size: cover;" ng-click="showWineInfo($event, wineid)">
					<p>加拿大浣熊紅酒</p>
				</div>
			</a>
			<a href="#">
				<div class="wineIntro wineIntro2"style="background:url('img/wine/wine3.jpg');background-size: cover;" ng-click="showWineInfo($event, wineid)">
					<p>加拿大浣熊紅酒</p>
				</div>
			</a>
			<a href="#">
				<div class="wineIntro wineIntro1"style="background:url('img/wine/wine4.jpg');background-size: cover;" ng-click="showWineInfo($event, wineid)">
					<p>加拿大浣熊紅酒</p>
				</div>
			</a>
		</div>
	</div>
	

	<!-- wine info page -->
	<div class="wineInfoPage searchDiv" ng-show = "ngshow.wineInfoShow">
		<h3>{{wineInfo.name}}</h3>
		<div class="wineInfoPage_block1">
			<div class="closeButton">
				<button ng-click="getRidShow()" style="top:-40px">X</button>
			</div>
		</div>
		<div class="picBlock">
			<img src="img/wine/winepage.png" style="width:240px">
			<p class="point">{{wineInfo.point}}</p>
			<p class="like"><img src="img/like.png">{{wineInfo.like}}</p>
			<p class="price">市場均價：＄{{wineInfo.price}} US</p>
		</div>
		<div class="wineInfoPage_block2">
			<p style="margin-left: 13%;">
					year：{{wineInfo.year}}<br>
					產地（國別）：{{wineInfo.year}}<br>
					酒精濃度：{{wineInfo.non}}<br>
					釀酒師：{{wineInfo.master}}<br>
					酒莊：{{wineInfo.ju}}<br>
					容量：{{wineInfo.liaun}}<br>
					原物料：{{wineInfo.lia}}<br>
					色澤：{{wineInfo.color}}<br>
					甜度：{{wineInfo.sweet}}<br>
			</p>
			<button ng-click="goBuy()"style="  border: 0;
  background-color: rgb(159, 34, 35);
  color: white;
  width: 60px;
  height: 40px;
  margin-left: 50px;">購買</button>
		</div>
		<hr>
		<div class="wineInfoPage_block3">
			<div class="wineInfoPage_block3_comment">
				<div class="wineInfoPage_block3_commentInput">
					<input type="text" placeholder="我也要評論">
					<button>送出</button>
				</div>
				<h3>大家的評論</h3>
				<img src="img/people/2.png">
				<p>林美麗：我的特別棒欸！真der！</p>
			</div>

		</div>
	</div>

<div class="wineInfoPage BigPage searchDiv" ng-show = "ngshow.bigpageshow" style="width: 100%;
  height: 800px;
  position: absolute;
  top: 50px;
  color: black;">
  附近10公里內的店家
	<div ng-repeat="item in okItem" >
		{{item.name}}
		{{item.address}}
		<button>跟他購買</button>
	</div>
</div>

</body>
</html>