<!Doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>政大吃什麼？</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript" src="appforfront.js"></script>
</head>
<body ng-app="NCCUeat" ng-controller="gameController" ng-init="init()">

	<!-- gamepage -->
	<div class="app_page page">
		<div class="app_up_wrapper">
			<div class="card">
				<img ng-src="{{resNow.imgUrl}}" class="res_img">
				<span class="text-align-center"><h2 class="res_title">{{resNow.title}}</h2></span>
				<p class="res_des">介紹：{{resNow.intro}}</p><br>
				<p class="res_add">地址：{{resNow.address}}某處所</p><br>
				<p class="res_coop" ng-show="resNow.coop">選我有折價！{{resNow.coopThing}}</p>
			</div>
		</div>
		<div class="app_down_wrapper">
			<div class="btn_wrapper">
				<div class="btn_wrapper_left">
					<a href="#" id="nobtn" ng-click="changeRes($event)";><img src="img/no.png"></a>
				</div>
				<div class="btn_wrapper_right">
					<a href="#" id="yesbtn" ng-click="showOverlay($event)"><img src="img/yes.png"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay hide">
		hahahah
	</div>
		<!-- welcome page -->
	<div class="welcome_page page hide">
		<div class="welcome_page_logo"><p>政大吃什麼？</p></div>
	</div>

</body>
</html>